{% extends "base.html" %}
{% block content %}
    <div class="navbar" id="navbar">
    <ul class="navbar__content noBullets">
        <li>
            <a href={{ url_for('main.index') }}><img src="/static/assets/images/tourtracker_logo.png"
                 height="50px"
               alt="The tourtracker website logo"></a>
        </li>
    </ul>
</div>
<h1>Tour Detail</h1>
<h3>{{ tour.tour_name }}</h3>

<div id="map"></div>
<script async
src="https://maps.googleapis.com/maps/api/js?key={{config['GOOGLE_MAPS_API_KEY']}}&callback=initMap&v=weekly"
defer
></script>

<form class="form">
    <button type="submit" class="button pointer" formaction={{ url_for('main.refresh_tour', uuid=tour.tour_uuid) }}>Refresh</button>
    <button type="submit" class="button pointer" formaction={{ url_for('main.user_profile') }}>User Profile</button>
    <button type="submit" class="button pointer" formaction={{ url_for('main.delete_tour', uuid=tour.tour_uuid) }}>Delete Tour</button>
</form>

{% endblock %}