{% extends "base.html" %}
{% block content %}
  <h1 id="draw">Tour Tracker</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
      <h3 class="text text--red">{{ message }}</h3>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <p>User email: {{ email }}</p>

  {% if strava_authenticated %}
    <form method="POST" action="/createtour" class="form">
      {{ form.csrf_token }}
      {{ form.tour_name }}
      {{ form.site_url }}
      {{ form.start_date }}
      {{ form.auto_refresh }}
      {{ form.end_date }}
      {{ form.submit }}
    </form>

    {% if user_tours %}
      {% for tour in user_tours %}
        <a href="{{ url_for('main.tour_detail', uuid=tour.tour_uuid) }}">{{ tour.tour_name }}</a>
      {% endfor %}
    {% endif %}

    <form class="form">
      <button type="submit" formaction={{ url_for('auth.logout') }}>Log Out</button>
    </form>


  {% else %}
    <form class="form">
      <button type="submit" formaction={{ url_for('strava_api_auth.strava_auth') }}>Link Strava</button>
      <button type="submit" formaction={{ url_for('auth.logout') }}>Log Out</button>
   </form>
  {% endif %}

   
  {% endblock %}


 







    
