{% extends "base.html" %}
{% block content %}
        <div class="navbar" id="navbar">
        <ul class="navbar__content noBullets">
            <li>
                <a href={{ url_for('main.index') }}><img src="/static/assets/images/tourtracker_logo.png"
                     height="50px"
                   alt="The tourtracker website logo"></a>
            </li>
        </ul>
    </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <h3 class="form__error">{{ message }}</h3>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h1>Log In</h1>
        <form class="form" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            {% for error in form.username.errors %}
                <p class="form__error">{{ error }}</p>
            {% endfor %}
            {{ form.username(class_="form__input") }}
            {% for error in form.password.errors %}
                <p class="form__error">{{ error }}</p>
            {% endfor %}
            {{ form.password(class_="form__input") }}
            {{ form.submit(class_="button pointer") }}
        </form>
    <a class="form__link" href={{ url_for('auth.signup') }}><p>Need an account?</p></a>
    <a class="form__link" href={{ url_for('auth.request_password_reset') }}><p>Forgotten password?</p></a>
{% endblock %}
