{% extends "base.html" %}
{% block content %}
<form class="form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.password(class_="form__item") }}
    {% for error in form.password.errors %}
    <p class="text__formerror">{{ error }}</p>
    {% endfor %}
    {{ form.repeat_password(class_="form__item") }}
    {% for error in form.repeat_password.errors %}
    <p class="text__formerror">{{ error }}</p>
    {% endfor %}
    {{ form.submit(class_="form__item") }}
</form>
{% endblock %}