{% extends "base.html" %}
{% block content %}
     <div class="navbar" id="navbar">
        <ul class="navbar__content noBullets">
            <li>
                <a href={{ url_for('main.index') }}><img src="/static/assets/images/tourtracker_logo.png"
                     height="50px"
                   alt="The tourtracker website logo"></a>
            </li>
        </ul>
    </div>
        <h1>Sign Up</h1>
        <p class="generic-text">Please check your email for a verification link.</p>
{% endblock %}
