@font-face {
    font-family: "retronoid";
    src: url('/static/assets/RetronoidItalic-ln9V.ttf') format('truetype');
}
@font-face {
    font-family: "press start";
    src: url('/static/assets/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}


h1 {
    font-family: "retronoid";
}

#map {
    height: 400px;
    width: 100%;
}