@font-face {
    font-family: "retronoid";
    src: url('/static/assets/RetronoidItalic-ln9V.ttf') format('truetype');
}
@font-face {
    font-family: "press start";
    src: url('/static/assets/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}


h1 {
    font-family: "retronoid";
}

#map {
    height: 400px;
    width: 100%;
}


:root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__item {
    margin: 0.25rem;
}

/* .button {
    margin: 0.5rem;
} */